@import '../../index.less';

.sider-container {
  .ant-menu-submenu {
    color: @wordColor;

    .ant-menu-submenu-title {
      &:hover {
        color: @wordColor;
      }
    }

    .ant-menu-item {
      border-left: .25rem solid transparent;

      &:hover {
        a {
          color: @hoverWordColor;
        }
      }
    }

    .ant-menu-item-selected {
      background-color: transparent;
      transition: none;
      box-sizing: border-box;
      border-left: .25rem solid @hoverWordColor;

      a {
        color: @hoverWordColor;
      }

      &::after {
        border: none;
      }
    }
  }

  .ant-menu-submenu-arrow {
    display: none;
  }

  @media (min-width: 769px) {
    .ant-layout-sider {
        width: 0;
    }
  }
}
