@import '../../index.less';

.nav-link {
  a {
    font-size: .9rem!important;
    color: rgb(39, 38, 38)!important;
  }

  &:hover {
    color: @hoverBottomColor!important;
    border-bottom: 2px solid @hoverBottomColor!important;

    a {
      color: @wordColor!important;
    }
  }
}
